body{
    background-image: url('https://img.freepik.com/free-photo/red-buildings-households_1127-2024.jpg?w=900&t=st=1681917537~exp=1681918137~hmac=a5cd19b3e92cff7464d53773ffd88cde73fc70f6ed6cb051a32c2980998c2128');
    background-size: cover;
    height: 100vh;
}
.signup {
    margin-top: 8%;
    margin-left: 50%;
    background-color:darkgray ;
    padding: 8px;
    border-radius: 15px;
    width: 500px;
  }
  
  .shead {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .slabel {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .signup input[type="text"],
  .signup input[type="number"],
  .signup input[type="password"],
  .signup input[type="email"],
  .signup input[type="passcode"],
  .signup textarea{
    width: 90%;
    padding: 8px;
    margin-bottom: 8px;
    border: none;
    border-radius: 10px;
  }